@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

:host {
  font-family: "Lato", "Lato Placeholder", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: rgb(0 25 102);
  --success: rgb(8, 102, 0);
  --fail: rgb(102, 0, 14);
  --gap: 1rem;
  --radius: 8px;
  word-break: break-word;
}

.container {
  border-color: var(--primary) !important;
  border-style: inset !important;
  border-width: 2px;
  border-radius: var(--radius);
  margin: 0;
  padding: var(--gap);
}

.container.loading * {
  opacity: 1 !important;
  transition: opacity 1s ease !important;
}

button, button:hover, button:active, button:focus {
  background-color: var(--primary) !important;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-width: 0;
  border-style: solid;
  border-radius: var(--radius);
  outline: none;
  padding: 12px 24px;
  margin-top: var(--gap);
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.8;
}
button:disabled {
  opacity: 0.8;
  filter: contrast(0.8)
}

input,
input:hover,
input:active,
input:focus,
select,
select:hover,
select:active,
select:focus {
  border-color: var(--primary) !important;
  border-width: 2px;
  border-radius: var(--radius);
  outline: none;
  padding: 8px 4px;
  margin-top: 2px;
}

input:focus,
select:focus {
  border-width: 3px;
  margin-top: 1px;
  margin-bottom: -1px;
}
select:focus {
  padding: 8px 3px;
}

input[type="text"], input[type="email"], input[type="url"], select {
  min-width: 90%;
}
select {
  min-width: 93%;
  max-width: 93%;
}

textarea {
  min-width: 80%;
}

input[type="checkbox"], input[type="checkbox"]:focus, input[type="checkbox"]:active,
input[type="radio"], input[type="radio"]:focus  input[type="radio"]:active {
  accent-color: var(--primary);
  width: 1em;
  height: 1em;
  transform: scale(1.25);
  margin: 0.5em;
  padding: 0.5em;
  vertical-align: middle;
  cursor: pointer;
}

label:not(.radio) {
  font-size: 19px;
  display: block;
  min-width: 280px;
  width: 44%;
  max-width: 44%;
}

label.full {
  min-width: 100%;
  max-width: 100%;
}

label.bottom {
  margin-top: var(--gap);
}

.radio{
  display: block;
  margin-bottom: -4px;
}

.checkbox-text {
  display: inline-block;
  vertical-align: middle;
  white-space: pre-line;
  width: 80%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  row-gap: var(--gap);
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

li {
  margin-bottom: var(--gap);
}

a {
  color: #000;
  font-weight: bold;
  vertical-align: middle;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a.sublink {
  color: var(--primary);
  font-weight: bold;
  font-size: 14px;
}

.status-icon {
  display: inline-block;
  width: 1rem;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

.header {
  margin-top: 0;
  font-weight: bold;
  color: var(--primary) !important;
}

.header span {
  font-weight: normal !important;
  color: #000 !important;
}

.subheader {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary) !important;
  margin-top: 6px;
}

.hidden {
  display: none;
}

.successColoxr {
  color: forestgreen;
}

.failureColorx {
  color: firebrick;
}